@model TeacherAssistant.Models.Material
@{
    Layout = null;
}
<div class="center">
    <a href="@Url.Content(Model.Url)" target="_blank">Baixar Material
        <br />
        <img alt="Baixar" src="@Url.Content("~/Content/images/download.png")"  width="64px" height="64px"/>
    </a>
</div>
